# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
pong-rl-venv/
venv/
env/

# Stable Baselines3 logs and models
pong-ai/logs/
pong-ai/pong_agent.zip
pong-ai/pong_agent_v1.0

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db